.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.084000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-1.558556px;}
.lse{letter-spacing:-1.439399px;}
.ls9{letter-spacing:-0.959111px;}
.lsa{letter-spacing:-0.779278px;}
.ls8{letter-spacing:-0.479556px;}
.ls7{letter-spacing:-0.288465px;}
.ls6{letter-spacing:0.000000px;}
.lsc{letter-spacing:0.335323px;}
.ls1{letter-spacing:0.480288px;}
.ls3{letter-spacing:0.780467px;}
.lsd{letter-spacing:0.959111px;}
.ls0{letter-spacing:0.959843px;}
.ls5{letter-spacing:1.439399px;}
.ls2{letter-spacing:1.559745px;}
.ls4{letter-spacing:1.918954px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._17{margin-left:-1315.055869px;}
._1d{margin-left:-7.988989px;}
._11{margin-left:-5.613882px;}
._1c{margin-left:-4.318372px;}
._1{margin-left:-3.102632px;}
._0{margin-left:-1.151566px;}
._10{width:1.151566px;}
._b{width:18.784680px;}
._21{width:31.995816px;}
._1f{width:35.959122px;}
._f{width:52.092480px;}
._9{width:72.832680px;}
._22{width:102.772348px;}
._2{width:106.870120px;}
._20{width:110.977364px;}
._8{width:117.418640px;}
._c{width:137.671168px;}
._e{width:144.252480px;}
._23{width:155.141292px;}
._4{width:161.862120px;}
._3{width:169.654120px;}
._7{width:176.913340px;}
._24{width:198.857104px;}
._a{width:218.935168px;}
._d{width:312.800680px;}
._15{width:395.273800px;}
._12{width:399.977800px;}
._13{width:403.673800px;}
._14{width:426.473800px;}
._5{width:427.842640px;}
._16{width:437.873800px;}
._6{width:475.226640px;}
._18{width:514.910920px;}
._1e{width:854.992568px;}
._19{width:875.198920px;}
._1a{width:903.710920px;}
._1b{width:1013.630920px;}
.fc8{color:rgb(255,255,255);}
.fc7{color:rgb(35,87,124);}
.fc5{color:rgb(97,202,244);}
.fc4{color:rgb(255,0,0);}
.fc6{color:rgb(35,31,32);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(32,79,114);}
.fc1{color:rgb(24,111,168);}
.fc0{color:rgb(97,204,245);}
.fs6{font-size:27.973455px;}
.fs5{font-size:35.986434px;}
.fs4{font-size:36.000000px;}
.fs7{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs0{font-size:47.981912px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:77.970606px;}
.y28{bottom:1.955953px;}
.y81{bottom:4.161621px;}
.y58{bottom:7.469674px;}
.y27{bottom:10.952561px;}
.y0{bottom:14.000000px;}
.y23{bottom:19.009843px;}
.y26{bottom:19.949170px;}
.y25{bottom:28.945778px;}
.y57{bottom:29.133507px;}
.y1{bottom:34.743912px;}
.y24{bottom:41.037239px;}
.y67{bottom:41.747172px;}
.y7c{bottom:41.747271px;}
.y22{bottom:42.023626px;}
.y8a{bottom:45.992120px;}
.y56{bottom:50.797340px;}
.y52{bottom:51.503594px;}
.y2{bottom:54.250339px;}
.y21{bottom:56.196854px;}
.y65{bottom:58.969130px;}
.y20{bottom:70.370082px;}
.y55{bottom:70.457929px;}
.y64{bottom:80.480311px;}
.y41{bottom:80.814025px;}
.y63{bottom:101.740154px;}
.y59{bottom:115.156878px;}
.y1f{bottom:121.677169px;}
.y51{bottom:121.961079px;}
.y1e{bottom:137.551185px;}
.y3b{bottom:144.153447px;}
.y1d{bottom:153.425201px;}
.y66{bottom:167.078740px;}
.y1c{bottom:169.299217px;}
.y3a{bottom:174.813888px;}
.y19{bottom:184.207233px;}
.y1a{bottom:185.173233px;}
.y1b{bottom:185.923233px;}
.y50{bottom:186.305921px;}
.y18{bottom:200.480320px;}
.y4{bottom:202.378897px;}
.y39{bottom:205.474330px;}
.y4f{bottom:216.636630px;}
.y17{bottom:218.338588px;}
.y38{bottom:235.127151px;}
.y4e{bottom:246.967339px;}
.y80{bottom:247.601749px;}
.y7b{bottom:252.947508px;}
.y88{bottom:256.965350px;}
.y37{bottom:259.789854px;}
.y16{bottom:260.019690px;}
.y89{bottom:264.165350px;}
.y87{bottom:271.365350px;}
.y36{bottom:271.785332px;}
.y34{bottom:271.790630px;}
.y15{bottom:274.476383px;}
.y7a{bottom:275.057744px;}
.y35{bottom:275.779826px;}
.y4d{bottom:277.298048px;}
.y14{bottom:288.933076px;}
.y33{bottom:295.445712px;}
.y31{bottom:295.447012px;}
.y69{bottom:296.876773px;}
.y6a{bottom:297.092691px;}
.y79{bottom:297.167980px;}
.y32{bottom:299.440206px;}
.y12{bottom:302.423769px;}
.y13{bottom:303.389769px;}
.y4c{bottom:307.628757px;}
.y11{bottom:317.846462px;}
.y78{bottom:319.278216px;}
.y30{bottom:327.103078px;}
.y2e{bottom:327.108376px;}
.y2f{bottom:331.097572px;}
.y10{bottom:332.303155px;}
.y6f{bottom:334.006536px;}
.y4b{bottom:337.959466px;}
.yf{bottom:346.759848px;}
.y70{bottom:353.163264px;}
.y2b{bottom:356.758398px;}
.y2d{bottom:356.761197px;}
.y5{bottom:356.840368px;}
.y8b{bottom:358.736783px;}
.y2c{bottom:360.755692px;}
.ye{bottom:361.216541px;}
.y4a{bottom:368.290175px;}
.y86{bottom:374.165352px;}
.y77{bottom:375.425198px;}
.yd{bottom:375.673234px;}
.y71{bottom:376.814528px;}
.y82{bottom:383.584086px;}
.y2a{bottom:388.414465px;}
.y85{bottom:391.173226px;}
.y76{bottom:397.393702px;}
.y49{bottom:398.620884px;}
.y6e{bottom:400.441341px;}
.y7f{bottom:404.993715px;}
.y84{bottom:408.181100px;}
.y61{bottom:413.877164px;}
.yc{bottom:414.411029px;}
.y75{bottom:419.220474px;}
.y62{bottom:421.077164px;}
.y6d{bottom:422.105174px;}
.y60{bottom:428.277164px;}
.yb{bottom:428.811029px;}
.y48{bottom:428.951593px;}
.y74{bottom:441.188978px;}
.y5e{bottom:442.251967px;}
.ya{bottom:442.984257px;}
.y6c{bottom:443.769007px;}
.y40{bottom:444.676155px;}
.y53{bottom:447.177412px;}
.y5f{bottom:449.451967px;}
.y46{bottom:451.515373px;}
.y44{bottom:452.932696px;}
.y3d{bottom:453.060994px;}
.y7d{bottom:455.799162px;}
.y5d{bottom:456.651967px;}
.y3f{bottom:456.671633px;}
.y29{bottom:457.400458px;}
.y9{bottom:458.007879px;}
.y47{bottom:458.715373px;}
.y73{bottom:463.299214px;}
.y6b{bottom:463.429595px;}
.y43{bottom:464.498050px;}
.y3c{bottom:465.056472px;}
.y45{bottom:465.915373px;}
.y3e{bottom:468.667111px;}
.y5b{bottom:470.626770px;}
.y8{bottom:472.181107px;}
.y5c{bottom:477.826770px;}
.y83{bottom:483.215970px;}
.y5a{bottom:485.026770px;}
.y72{bottom:485.409450px;}
.y7{bottom:486.921264px;}
.y54{bottom:488.647479px;}
.y7e{bottom:497.219847px;}
.y68{bottom:498.403901px;}
.y42{bottom:499.113833px;}
.y6{bottom:499.677170px;}
.y3{bottom:504.911447px;}
.ha{height:23.329861px;}
.h9{height:30.012686px;}
.h7{height:30.024000px;}
.he{height:33.360000px;}
.h6{height:36.696000px;}
.h3{height:40.016914px;}
.h5{height:40.032000px;}
.h4{height:65.027486px;}
.hb{height:515.634015px;}
.hd{height:525.390337px;}
.hc{height:525.390437px;}
.h8{height:526.100370px;}
.h2{height:532.393697px;}
.h1{height:552.500000px;}
.h0{height:595.276000px;}
.w5{width:418.500000px;}
.w2{width:419.369925px;}
.w6{width:419.407124px;}
.w1{width:419.500000px;}
.w7{width:420.064643px;}
.w4{width:420.768281px;}
.w0{width:420.945000px;}
.w3{width:421.000000px;}
.x0{left:1.000000px;}
.x20{left:2.500000px;}
.x18{left:19.122343px;}
.x3{left:42.671614px;}
.x1{left:44.394564px;}
.x27{left:48.170840px;}
.xa{left:59.634519px;}
.xb{left:62.487644px;}
.x8{left:63.556541px;}
.x9{left:66.409765px;}
.x2{left:80.101703px;}
.x25{left:81.340236px;}
.x29{left:97.148148px;}
.x26{left:99.541874px;}
.x10{left:175.257131px;}
.xf{left:177.500286px;}
.x5{left:180.075986px;}
.xe{left:181.914621px;}
.x11{left:183.401114px;}
.x15{left:187.049114px;}
.x13{left:188.225114px;}
.x14{left:200.549114px;}
.x16{left:203.399114px;}
.x4{left:217.494471px;}
.x28{left:234.585836px;}
.x2a{left:272.411998px;}
.x6{left:274.949778px;}
.xd{left:297.634998px;}
.xc{left:300.633867px;}
.x21{left:310.358226px;}
.x19{left:311.921211px;}
.x1c{left:318.198974px;}
.x1e{left:319.748032px;}
.x1d{left:321.895891px;}
.x1f{left:324.356557px;}
.x1a{left:326.286974px;}
.x1b{left:329.136974px;}
.x24{left:339.193280px;}
.x12{left:340.455564px;}
.x23{left:342.817280px;}
.x17{left:344.970714px;}
.x22{left:354.217280px;}
.x7{left:396.130220px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-2.078074pt;}
.lse{letter-spacing:-1.919198pt;}
.ls9{letter-spacing:-1.278815pt;}
.lsa{letter-spacing:-1.039037pt;}
.ls8{letter-spacing:-0.639407pt;}
.ls7{letter-spacing:-0.384621pt;}
.ls6{letter-spacing:0.000000pt;}
.lsc{letter-spacing:0.447097pt;}
.ls1{letter-spacing:0.640384pt;}
.ls3{letter-spacing:1.040623pt;}
.lsd{letter-spacing:1.278815pt;}
.ls0{letter-spacing:1.279791pt;}
.ls5{letter-spacing:1.919198pt;}
.ls2{letter-spacing:2.079660pt;}
.ls4{letter-spacing:2.558606pt;}
.ws0{word-spacing:0.000000pt;}
._17{margin-left:-1753.407825pt;}
._1d{margin-left:-10.651986pt;}
._11{margin-left:-7.485176pt;}
._1c{margin-left:-5.757829pt;}
._1{margin-left:-4.136843pt;}
._0{margin-left:-1.535421pt;}
._10{width:1.535421pt;}
._b{width:25.046240pt;}
._21{width:42.661089pt;}
._1f{width:47.945496pt;}
._f{width:69.456640pt;}
._9{width:97.110240pt;}
._22{width:137.029797pt;}
._2{width:142.493493pt;}
._20{width:147.969819pt;}
._8{width:156.558187pt;}
._c{width:183.561557pt;}
._e{width:192.336640pt;}
._23{width:206.855056pt;}
._4{width:215.816160pt;}
._3{width:226.205493pt;}
._7{width:235.884453pt;}
._24{width:265.142805pt;}
._a{width:291.913557pt;}
._d{width:417.067573pt;}
._15{width:527.031733pt;}
._12{width:533.303733pt;}
._13{width:538.231733pt;}
._14{width:568.631733pt;}
._5{width:570.456853pt;}
._16{width:583.831733pt;}
._6{width:633.635520pt;}
._18{width:686.547893pt;}
._1e{width:1139.990091pt;}
._19{width:1166.931893pt;}
._1a{width:1204.947893pt;}
._1b{width:1351.507893pt;}
.fs6{font-size:37.297939pt;}
.fs5{font-size:47.981912pt;}
.fs4{font-size:48.000000pt;}
.fs7{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs0{font-size:63.975882pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:103.960809pt;}
.y28{bottom:2.607937pt;}
.y81{bottom:5.548828pt;}
.y58{bottom:9.959565pt;}
.y27{bottom:14.603415pt;}
.y0{bottom:18.666667pt;}
.y23{bottom:25.346457pt;}
.y26{bottom:26.598893pt;}
.y25{bottom:38.594371pt;}
.y57{bottom:38.844676pt;}
.y1{bottom:46.325215pt;}
.y24{bottom:54.716319pt;}
.y67{bottom:55.662895pt;}
.y7c{bottom:55.663029pt;}
.y22{bottom:56.031501pt;}
.y8a{bottom:61.322827pt;}
.y56{bottom:67.729787pt;}
.y52{bottom:68.671458pt;}
.y2{bottom:72.333785pt;}
.y21{bottom:74.929139pt;}
.y65{bottom:78.625507pt;}
.y20{bottom:93.826776pt;}
.y55{bottom:93.943905pt;}
.y64{bottom:107.307081pt;}
.y41{bottom:107.752033pt;}
.y63{bottom:135.653539pt;}
.y59{bottom:153.542504pt;}
.y1f{bottom:162.236225pt;}
.y51{bottom:162.614772pt;}
.y1e{bottom:183.401580pt;}
.y3b{bottom:192.204596pt;}
.y1d{bottom:204.566935pt;}
.y66{bottom:222.771653pt;}
.y1c{bottom:225.732289pt;}
.y3a{bottom:233.085184pt;}
.y19{bottom:245.609644pt;}
.y1a{bottom:246.897644pt;}
.y1b{bottom:247.897644pt;}
.y50{bottom:248.407895pt;}
.y18{bottom:267.307093pt;}
.y4{bottom:269.838529pt;}
.y39{bottom:273.965773pt;}
.y4f{bottom:288.848840pt;}
.y17{bottom:291.118117pt;}
.y38{bottom:313.502868pt;}
.y4e{bottom:329.289785pt;}
.y80{bottom:330.135665pt;}
.y7b{bottom:337.263344pt;}
.y88{bottom:342.620467pt;}
.y37{bottom:346.386472pt;}
.y16{bottom:346.692920pt;}
.y89{bottom:352.220467pt;}
.y87{bottom:361.820467pt;}
.y36{bottom:362.380442pt;}
.y34{bottom:362.387506pt;}
.y15{bottom:365.968511pt;}
.y7a{bottom:366.743659pt;}
.y35{bottom:367.706435pt;}
.y4d{bottom:369.730731pt;}
.y14{bottom:385.244101pt;}
.y33{bottom:393.927616pt;}
.y31{bottom:393.929349pt;}
.y69{bottom:395.835697pt;}
.y6a{bottom:396.123589pt;}
.y79{bottom:396.223973pt;}
.y32{bottom:399.253609pt;}
.y12{bottom:403.231692pt;}
.y13{bottom:404.519692pt;}
.y4c{bottom:410.171676pt;}
.y11{bottom:423.795283pt;}
.y78{bottom:425.704288pt;}
.y30{bottom:436.137437pt;}
.y2e{bottom:436.144501pt;}
.y2f{bottom:441.463430pt;}
.y10{bottom:443.070873pt;}
.y6f{bottom:445.342047pt;}
.y4b{bottom:450.612621pt;}
.yf{bottom:462.346464pt;}
.y70{bottom:470.884352pt;}
.y2b{bottom:475.677865pt;}
.y2d{bottom:475.681597pt;}
.y5{bottom:475.787157pt;}
.y8b{bottom:478.315711pt;}
.y2c{bottom:481.007589pt;}
.ye{bottom:481.622055pt;}
.y4a{bottom:491.053567pt;}
.y86{bottom:498.887136pt;}
.y77{bottom:500.566931pt;}
.yd{bottom:500.897645pt;}
.y71{bottom:502.419370pt;}
.y82{bottom:511.445448pt;}
.y2a{bottom:517.885953pt;}
.y85{bottom:521.564301pt;}
.y76{bottom:529.858269pt;}
.y49{bottom:531.494512pt;}
.y6e{bottom:533.921788pt;}
.y7f{bottom:539.991620pt;}
.y84{bottom:544.241467pt;}
.y61{bottom:551.836219pt;}
.yc{bottom:552.548039pt;}
.y75{bottom:558.960632pt;}
.y62{bottom:561.436219pt;}
.y6d{bottom:562.806899pt;}
.y60{bottom:571.036219pt;}
.yb{bottom:571.748039pt;}
.y48{bottom:571.935457pt;}
.y74{bottom:588.251971pt;}
.y5e{bottom:589.669289pt;}
.ya{bottom:590.645676pt;}
.y6c{bottom:591.692009pt;}
.y40{bottom:592.901540pt;}
.y53{bottom:596.236550pt;}
.y5f{bottom:599.269289pt;}
.y46{bottom:602.020497pt;}
.y44{bottom:603.910261pt;}
.y3d{bottom:604.081326pt;}
.y7d{bottom:607.732216pt;}
.y5d{bottom:608.869289pt;}
.y3f{bottom:608.895511pt;}
.y29{bottom:609.867278pt;}
.y9{bottom:610.677172pt;}
.y47{bottom:611.620497pt;}
.y73{bottom:617.732285pt;}
.y6b{bottom:617.906127pt;}
.y43{bottom:619.330733pt;}
.y3c{bottom:620.075296pt;}
.y45{bottom:621.220497pt;}
.y3e{bottom:624.889481pt;}
.y5b{bottom:627.502360pt;}
.y8{bottom:629.574809pt;}
.y5c{bottom:637.102360pt;}
.y83{bottom:644.287960pt;}
.y5a{bottom:646.702360pt;}
.y72{bottom:647.212600pt;}
.y7{bottom:649.228352pt;}
.y54{bottom:651.529972pt;}
.y7e{bottom:662.959796pt;}
.y68{bottom:664.538534pt;}
.y42{bottom:665.485111pt;}
.y6{bottom:666.236227pt;}
.y3{bottom:673.215263pt;}
.ha{height:31.106481pt;}
.h9{height:40.016914pt;}
.h7{height:40.032000pt;}
.he{height:44.480000pt;}
.h6{height:48.928000pt;}
.h3{height:53.355886pt;}
.h5{height:53.376000pt;}
.h4{height:86.703314pt;}
.hb{height:687.512020pt;}
.hd{height:700.520450pt;}
.hc{height:700.520583pt;}
.h8{height:701.467159pt;}
.h2{height:709.858263pt;}
.h1{height:736.666667pt;}
.h0{height:793.701333pt;}
.w5{width:558.000000pt;}
.w2{width:559.159900pt;}
.w6{width:559.209499pt;}
.w1{width:559.333333pt;}
.w7{width:560.086191pt;}
.w4{width:561.024375pt;}
.w0{width:561.260000pt;}
.w3{width:561.333333pt;}
.x0{left:1.333333pt;}
.x20{left:3.333333pt;}
.x18{left:25.496457pt;}
.x3{left:56.895485pt;}
.x1{left:59.192752pt;}
.x27{left:64.227787pt;}
.xa{left:79.512692pt;}
.xb{left:83.316858pt;}
.x8{left:84.742054pt;}
.x9{left:88.546353pt;}
.x2{left:106.802271pt;}
.x25{left:108.453648pt;}
.x29{left:129.530864pt;}
.x26{left:132.722499pt;}
.x10{left:233.676175pt;}
.xf{left:236.667048pt;}
.x5{left:240.101315pt;}
.xe{left:242.552828pt;}
.x11{left:244.534819pt;}
.x15{left:249.398819pt;}
.x13{left:250.966819pt;}
.x14{left:267.398819pt;}
.x16{left:271.198819pt;}
.x4{left:289.992628pt;}
.x28{left:312.781115pt;}
.x2a{left:363.215997pt;}
.x6{left:366.599704pt;}
.xd{left:396.846664pt;}
.xc{left:400.845156pt;}
.x21{left:413.810968pt;}
.x19{left:415.894948pt;}
.x1c{left:424.265299pt;}
.x1e{left:426.330710pt;}
.x1d{left:429.194521pt;}
.x1f{left:432.475410pt;}
.x1a{left:435.049299pt;}
.x1b{left:438.849299pt;}
.x24{left:452.257707pt;}
.x12{left:453.940752pt;}
.x23{left:457.089707pt;}
.x17{left:459.960952pt;}
.x22{left:472.289707pt;}
.x7{left:528.173627pt;}
}
