.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.392578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-4.320000px;}
._1{margin-left:-2.880000px;}
._32{margin-left:-1.392000px;}
._28{width:12.836002px;}
._2a{width:14.283998px;}
._7c{width:15.592003px;}
._29{width:17.472000px;}
._2b{width:18.760003px;}
._1d{width:20.780002px;}
._21{width:22.335998px;}
._22{width:23.604000px;}
._1e{width:28.088002px;}
._7d{width:29.127989px;}
._24{width:30.248002px;}
._25{width:32.151998px;}
._3b{width:42.876000px;}
._31{width:51.764016px;}
._27{width:57.588000px;}
._16{width:61.764000px;}
._11{width:63.216000px;}
._58{width:71.912016px;}
._15{width:76.215984px;}
._6f{width:82.296000px;}
._5e{width:86.331984px;}
._23{width:87.404016px;}
._5c{width:88.827984px;}
._5d{width:95.328000px;}
._67{width:97.044000px;}
._14{width:101.604000px;}
._d{width:103.632000px;}
._35{width:105.552000px;}
._34{width:107.712000px;}
._17{width:109.251984px;}
._3f{width:116.943984px;}
._59{width:120.928032px;}
._5b{width:126.300000px;}
._2c{width:128.535984px;}
._38{width:130.620000px;}
._f{width:133.008000px;}
._37{width:134.160000px;}
._1f{width:140.535984px;}
._20{width:148.044000px;}
._5f{width:149.664000px;}
._6{width:151.995984px;}
._52{width:159.624000px;}
._12{width:161.403984px;}
._6b{width:162.987984px;}
._13{width:165.840000px;}
._54{width:171.288000px;}
._42{width:175.599984px;}
._5a{width:177.180000px;}
._1b{width:180.675984px;}
._51{width:183.672000px;}
._2e{width:185.223984px;}
._64{width:192.584016px;}
._7a{width:197.079984px;}
._40{width:199.659984px;}
._45{width:208.431984px;}
._33{width:212.547984px;}
._1c{width:219.180000px;}
._1a{width:224.652000px;}
._4e{width:230.319984px;}
._47{width:233.964000px;}
._53{width:240.408000px;}
._4c{width:242.031984px;}
._68{width:250.119984px;}
._49{width:252.207984px;}
._69{width:256.548000px;}
._44{width:258.012000px;}
._4{width:259.371984px;}
._70{width:262.620000px;}
._18{width:265.719984px;}
._4a{width:267.516000px;}
._74{width:269.444016px;}
._c{width:277.743984px;}
._71{width:286.536048px;}
._8{width:287.787984px;}
._43{width:288.987984px;}
._26{width:290.547984px;}
._19{width:292.683984px;}
._6e{width:293.948016px;}
._6a{width:296.379984px;}
._4b{width:302.412000px;}
._7b{width:316.968000px;}
._3a{width:337.104000px;}
._57{width:356.232000px;}
._46{width:365.595984px;}
._55{width:367.800000px;}
._66{width:382.599984px;}
._48{width:413.244000px;}
._79{width:419.592000px;}
._75{width:444.195984px;}
._73{width:464.304000px;}
._39{width:480.567840px;}
._62{width:496.992000px;}
._30{width:503.379840px;}
._63{width:524.272176px;}
._50{width:525.864000px;}
._36{width:543.783840px;}
._41{width:545.724000px;}
._b{width:551.288160px;}
._2f{width:554.811840px;}
._5{width:621.399840px;}
._76{width:625.316160px;}
._4f{width:634.680000px;}
._3d{width:637.836000px;}
._56{width:654.024000px;}
._61{width:658.424160px;}
._72{width:712.868160px;}
._78{width:721.280160px;}
._2{width:722.756160px;}
._3e{width:731.196000px;}
._a{width:741.447840px;}
._60{width:742.515840px;}
._10{width:767.115840px;}
._3c{width:788.304000px;}
._7{width:793.767840px;}
._3{width:813.591840px;}
._4d{width:826.860000px;}
._e{width:855.240000px;}
._77{width:858.944160px;}
._6d{width:898.484160px;}
._65{width:915.543840px;}
._0{width:923.444160px;}
._2d{width:985.035840px;}
._6c{width:1420.580160px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:52.000000px;}
.fs1{font-size:72.000000px;}
.y37{bottom:20.894000px;}
.y90{bottom:41.592000px;}
.y0{bottom:44.000000px;}
.y8f{bottom:55.248000px;}
.y8e{bottom:69.904000px;}
.y5f{bottom:74.404000px;}
.y34{bottom:77.748000px;}
.y8d{bottom:83.560000px;}
.y5e{bottom:88.060000px;}
.y33{bottom:91.404000px;}
.y8c{bottom:97.216000px;}
.y5d{bottom:103.716000px;}
.y32{bottom:105.060000px;}
.y8b{bottom:110.872000px;}
.y31{bottom:118.716000px;}
.y5c{bottom:123.372000px;}
.y8a{bottom:124.528000px;}
.y30{bottom:132.372000px;}
.y5b{bottom:137.028000px;}
.y89{bottom:138.184000px;}
.y2f{bottom:146.028000px;}
.y88{bottom:151.840000px;}
.y5a{bottom:153.184000px;}
.y2e{bottom:159.684000px;}
.y87{bottom:165.496000px;}
.y59{bottom:166.840000px;}
.y2d{bottom:173.340000px;}
.y86{bottom:180.152000px;}
.y58{bottom:182.996000px;}
.y2c{bottom:186.996000px;}
.y85{bottom:193.808000px;}
.y57{bottom:196.652000px;}
.y2b{bottom:200.652000px;}
.y84{bottom:207.464000px;}
.y56{bottom:211.808000px;}
.y2a{bottom:214.308000px;}
.y83{bottom:221.120000px;}
.y55{bottom:225.464000px;}
.y29{bottom:227.964000px;}
.y82{bottom:234.776000px;}
.y54{bottom:241.120000px;}
.y28{bottom:241.620000px;}
.y81{bottom:250.432000px;}
.y27{bottom:255.276000px;}
.y53{bottom:257.776000px;}
.y80{bottom:264.088000px;}
.y26{bottom:268.932000px;}
.y52{bottom:271.432000px;}
.y7f{bottom:277.744000px;}
.y25{bottom:282.588000px;}
.y51{bottom:285.088000px;}
.y7e{bottom:291.400000px;}
.y24{bottom:296.244000px;}
.y50{bottom:298.744000px;}
.y7d{bottom:308.056000px;}
.y23{bottom:309.900000px;}
.y4f{bottom:312.400000px;}
.y22{bottom:323.556000px;}
.y4e{bottom:326.056000px;}
.y7c{bottom:326.712000px;}
.y21{bottom:338.712000px;}
.y4d{bottom:339.712000px;}
.y7b{bottom:340.368000px;}
.y20{bottom:352.368000px;}
.y4c{bottom:353.368000px;}
.y7a{bottom:354.024000px;}
.y1f{bottom:366.024000px;}
.y79{bottom:367.680000px;}
.y4b{bottom:369.024000px;}
.y1e{bottom:379.680000px;}
.y78{bottom:383.336000px;}
.y4a{bottom:385.680000px;}
.y17{bottom:386.136000px;}
.y1d{bottom:393.336000px;}
.y77{bottom:396.992000px;}
.y49{bottom:399.336000px;}
.y1c{bottom:406.992000px;}
.y16{bottom:408.545000px;}
.y76{bottom:410.648000px;}
.y48{bottom:412.992000px;}
.y1b{bottom:420.648000px;}
.y47{bottom:426.648000px;}
.y75{bottom:428.304000px;}
.y15{bottom:430.704000px;}
.y1a{bottom:434.304000px;}
.y46{bottom:440.304000px;}
.y74{bottom:444.960000px;}
.y19{bottom:447.960000px;}
.y14{bottom:453.113000px;}
.y45{bottom:455.960000px;}
.y73{bottom:458.616000px;}
.y18{bottom:461.616000px;}
.y44{bottom:472.616000px;}
.y72{bottom:472.772000px;}
.y13{bottom:475.272000px;}
.y43{bottom:486.272000px;}
.y71{bottom:486.428000px;}
.y12{bottom:490.928000px;}
.y42{bottom:499.928000px;}
.y70{bottom:500.084000px;}
.y11{bottom:507.584000px;}
.y41{bottom:513.584000px;}
.y6f{bottom:514.240000px;}
.y10{bottom:521.240000px;}
.y40{bottom:527.240000px;}
.y6e{bottom:527.896000px;}
.yf{bottom:536.896000px;}
.y3f{bottom:540.896000px;}
.y6d{bottom:543.552000px;}
.ye{bottom:553.552000px;}
.y3e{bottom:554.552000px;}
.y6c{bottom:560.208000px;}
.yd{bottom:567.208000px;}
.y3d{bottom:568.208000px;}
.y6b{bottom:573.864000px;}
.yc{bottom:581.364000px;}
.y3c{bottom:583.864000px;}
.y6a{bottom:588.020000px;}
.yb{bottom:595.020000px;}
.y3b{bottom:600.520000px;}
.y69{bottom:601.676000px;}
.ya{bottom:610.676000px;}
.y3a{bottom:614.176000px;}
.y68{bottom:617.332000px;}
.y9{bottom:627.332000px;}
.y39{bottom:628.332000px;}
.y67{bottom:633.988000px;}
.y8{bottom:640.988000px;}
.y38{bottom:641.988000px;}
.y66{bottom:647.644000px;}
.y7{bottom:656.144000px;}
.y65{bottom:663.300000px;}
.y6{bottom:669.800000px;}
.y64{bottom:680.956000px;}
.y5{bottom:683.956000px;}
.y63{bottom:694.612000px;}
.y4{bottom:697.612000px;}
.y62{bottom:710.768000px;}
.y3{bottom:711.768000px;}
.y61{bottom:724.424000px;}
.y2{bottom:725.424000px;}
.y60{bottom:740.080000px;}
.y1{bottom:741.080000px;}
.y36{bottom:762.453000px;}
.y35{bottom:784.466000px;}
.h5{height:39.093750px;}
.h2{height:52.125000px;}
.h4{height:56.468750px;}
.h3{height:78.187500px;}
.h1{height:768.500000px;}
.h0{height:842.000000px;}
.w1{width:546.500000px;}
.w0{width:595.000000px;}
.x0{left:15.500000px;}
.x1{left:42.519000px;}
.x2{left:80.059000px;}
.x3{left:221.445000px;}
.x4{left:230.997000px;}
.x6{left:240.944000px;}
.x5{left:540.443000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-5.760000pt;}
._1{margin-left:-3.840000pt;}
._32{margin-left:-1.856000pt;}
._28{width:17.114669pt;}
._2a{width:19.045331pt;}
._7c{width:20.789338pt;}
._29{width:23.296000pt;}
._2b{width:25.013338pt;}
._1d{width:27.706669pt;}
._21{width:29.781331pt;}
._22{width:31.472000pt;}
._1e{width:37.450669pt;}
._7d{width:38.837318pt;}
._24{width:40.330669pt;}
._25{width:42.869331pt;}
._3b{width:57.168000pt;}
._31{width:69.018688pt;}
._27{width:76.784000pt;}
._16{width:82.352000pt;}
._11{width:84.288000pt;}
._58{width:95.882688pt;}
._15{width:101.621312pt;}
._6f{width:109.728000pt;}
._5e{width:115.109312pt;}
._23{width:116.538688pt;}
._5c{width:118.437312pt;}
._5d{width:127.104000pt;}
._67{width:129.392000pt;}
._14{width:135.472000pt;}
._d{width:138.176000pt;}
._35{width:140.736000pt;}
._34{width:143.616000pt;}
._17{width:145.669312pt;}
._3f{width:155.925312pt;}
._59{width:161.237376pt;}
._5b{width:168.400000pt;}
._2c{width:171.381312pt;}
._38{width:174.160000pt;}
._f{width:177.344000pt;}
._37{width:178.880000pt;}
._1f{width:187.381312pt;}
._20{width:197.392000pt;}
._5f{width:199.552000pt;}
._6{width:202.661312pt;}
._52{width:212.832000pt;}
._12{width:215.205312pt;}
._6b{width:217.317312pt;}
._13{width:221.120000pt;}
._54{width:228.384000pt;}
._42{width:234.133312pt;}
._5a{width:236.240000pt;}
._1b{width:240.901312pt;}
._51{width:244.896000pt;}
._2e{width:246.965312pt;}
._64{width:256.778688pt;}
._7a{width:262.773312pt;}
._40{width:266.213312pt;}
._45{width:277.909312pt;}
._33{width:283.397312pt;}
._1c{width:292.240000pt;}
._1a{width:299.536000pt;}
._4e{width:307.093312pt;}
._47{width:311.952000pt;}
._53{width:320.544000pt;}
._4c{width:322.709312pt;}
._68{width:333.493312pt;}
._49{width:336.277312pt;}
._69{width:342.064000pt;}
._44{width:344.016000pt;}
._4{width:345.829312pt;}
._70{width:350.160000pt;}
._18{width:354.293312pt;}
._4a{width:356.688000pt;}
._74{width:359.258688pt;}
._c{width:370.325312pt;}
._71{width:382.048064pt;}
._8{width:383.717312pt;}
._43{width:385.317312pt;}
._26{width:387.397312pt;}
._19{width:390.245312pt;}
._6e{width:391.930688pt;}
._6a{width:395.173312pt;}
._4b{width:403.216000pt;}
._7b{width:422.624000pt;}
._3a{width:449.472000pt;}
._57{width:474.976000pt;}
._46{width:487.461312pt;}
._55{width:490.400000pt;}
._66{width:510.133312pt;}
._48{width:550.992000pt;}
._79{width:559.456000pt;}
._75{width:592.261312pt;}
._73{width:619.072000pt;}
._39{width:640.757120pt;}
._62{width:662.656000pt;}
._30{width:671.173120pt;}
._63{width:699.029568pt;}
._50{width:701.152000pt;}
._36{width:725.045120pt;}
._41{width:727.632000pt;}
._b{width:735.050880pt;}
._2f{width:739.749120pt;}
._5{width:828.533120pt;}
._76{width:833.754880pt;}
._4f{width:846.240000pt;}
._3d{width:850.448000pt;}
._56{width:872.032000pt;}
._61{width:877.898880pt;}
._72{width:950.490880pt;}
._78{width:961.706880pt;}
._2{width:963.674880pt;}
._3e{width:974.928000pt;}
._a{width:988.597120pt;}
._60{width:990.021120pt;}
._10{width:1022.821120pt;}
._3c{width:1051.072000pt;}
._7{width:1058.357120pt;}
._3{width:1084.789120pt;}
._4d{width:1102.480000pt;}
._e{width:1140.320000pt;}
._77{width:1145.258880pt;}
._6d{width:1197.978880pt;}
._65{width:1220.725120pt;}
._0{width:1231.258880pt;}
._2d{width:1313.381120pt;}
._6c{width:1894.106880pt;}
.fs3{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:69.333333pt;}
.fs1{font-size:96.000000pt;}
.y37{bottom:27.858667pt;}
.y90{bottom:55.456000pt;}
.y0{bottom:58.666667pt;}
.y8f{bottom:73.664000pt;}
.y8e{bottom:93.205333pt;}
.y5f{bottom:99.205333pt;}
.y34{bottom:103.664000pt;}
.y8d{bottom:111.413333pt;}
.y5e{bottom:117.413333pt;}
.y33{bottom:121.872000pt;}
.y8c{bottom:129.621333pt;}
.y5d{bottom:138.288000pt;}
.y32{bottom:140.080000pt;}
.y8b{bottom:147.829333pt;}
.y31{bottom:158.288000pt;}
.y5c{bottom:164.496000pt;}
.y8a{bottom:166.037333pt;}
.y30{bottom:176.496000pt;}
.y5b{bottom:182.704000pt;}
.y89{bottom:184.245333pt;}
.y2f{bottom:194.704000pt;}
.y88{bottom:202.453333pt;}
.y5a{bottom:204.245333pt;}
.y2e{bottom:212.912000pt;}
.y87{bottom:220.661333pt;}
.y59{bottom:222.453333pt;}
.y2d{bottom:231.120000pt;}
.y86{bottom:240.202667pt;}
.y58{bottom:243.994667pt;}
.y2c{bottom:249.328000pt;}
.y85{bottom:258.410667pt;}
.y57{bottom:262.202667pt;}
.y2b{bottom:267.536000pt;}
.y84{bottom:276.618667pt;}
.y56{bottom:282.410667pt;}
.y2a{bottom:285.744000pt;}
.y83{bottom:294.826667pt;}
.y55{bottom:300.618667pt;}
.y29{bottom:303.952000pt;}
.y82{bottom:313.034667pt;}
.y54{bottom:321.493333pt;}
.y28{bottom:322.160000pt;}
.y81{bottom:333.909333pt;}
.y27{bottom:340.368000pt;}
.y53{bottom:343.701333pt;}
.y80{bottom:352.117333pt;}
.y26{bottom:358.576000pt;}
.y52{bottom:361.909333pt;}
.y7f{bottom:370.325333pt;}
.y25{bottom:376.784000pt;}
.y51{bottom:380.117333pt;}
.y7e{bottom:388.533333pt;}
.y24{bottom:394.992000pt;}
.y50{bottom:398.325333pt;}
.y7d{bottom:410.741333pt;}
.y23{bottom:413.200000pt;}
.y4f{bottom:416.533333pt;}
.y22{bottom:431.408000pt;}
.y4e{bottom:434.741333pt;}
.y7c{bottom:435.616000pt;}
.y21{bottom:451.616000pt;}
.y4d{bottom:452.949333pt;}
.y7b{bottom:453.824000pt;}
.y20{bottom:469.824000pt;}
.y4c{bottom:471.157333pt;}
.y7a{bottom:472.032000pt;}
.y1f{bottom:488.032000pt;}
.y79{bottom:490.240000pt;}
.y4b{bottom:492.032000pt;}
.y1e{bottom:506.240000pt;}
.y78{bottom:511.114667pt;}
.y4a{bottom:514.240000pt;}
.y17{bottom:514.848000pt;}
.y1d{bottom:524.448000pt;}
.y77{bottom:529.322667pt;}
.y49{bottom:532.448000pt;}
.y1c{bottom:542.656000pt;}
.y16{bottom:544.726667pt;}
.y76{bottom:547.530667pt;}
.y48{bottom:550.656000pt;}
.y1b{bottom:560.864000pt;}
.y47{bottom:568.864000pt;}
.y75{bottom:571.072000pt;}
.y15{bottom:574.272000pt;}
.y1a{bottom:579.072000pt;}
.y46{bottom:587.072000pt;}
.y74{bottom:593.280000pt;}
.y19{bottom:597.280000pt;}
.y14{bottom:604.150667pt;}
.y45{bottom:607.946667pt;}
.y73{bottom:611.488000pt;}
.y18{bottom:615.488000pt;}
.y44{bottom:630.154667pt;}
.y72{bottom:630.362667pt;}
.y13{bottom:633.696000pt;}
.y43{bottom:648.362667pt;}
.y71{bottom:648.570667pt;}
.y12{bottom:654.570667pt;}
.y42{bottom:666.570667pt;}
.y70{bottom:666.778667pt;}
.y11{bottom:676.778667pt;}
.y41{bottom:684.778667pt;}
.y6f{bottom:685.653333pt;}
.y10{bottom:694.986667pt;}
.y40{bottom:702.986667pt;}
.y6e{bottom:703.861333pt;}
.yf{bottom:715.861333pt;}
.y3f{bottom:721.194667pt;}
.y6d{bottom:724.736000pt;}
.ye{bottom:738.069333pt;}
.y3e{bottom:739.402667pt;}
.y6c{bottom:746.944000pt;}
.yd{bottom:756.277333pt;}
.y3d{bottom:757.610667pt;}
.y6b{bottom:765.152000pt;}
.yc{bottom:775.152000pt;}
.y3c{bottom:778.485333pt;}
.y6a{bottom:784.026667pt;}
.yb{bottom:793.360000pt;}
.y3b{bottom:800.693333pt;}
.y69{bottom:802.234667pt;}
.ya{bottom:814.234667pt;}
.y3a{bottom:818.901333pt;}
.y68{bottom:823.109333pt;}
.y9{bottom:836.442667pt;}
.y39{bottom:837.776000pt;}
.y67{bottom:845.317333pt;}
.y8{bottom:854.650667pt;}
.y38{bottom:855.984000pt;}
.y66{bottom:863.525333pt;}
.y7{bottom:874.858667pt;}
.y65{bottom:884.400000pt;}
.y6{bottom:893.066667pt;}
.y64{bottom:907.941333pt;}
.y5{bottom:911.941333pt;}
.y63{bottom:926.149333pt;}
.y4{bottom:930.149333pt;}
.y62{bottom:947.690667pt;}
.y3{bottom:949.024000pt;}
.y61{bottom:965.898667pt;}
.y2{bottom:967.232000pt;}
.y60{bottom:986.773333pt;}
.y1{bottom:988.106667pt;}
.y36{bottom:1016.604000pt;}
.y35{bottom:1045.954667pt;}
.h5{height:52.125000pt;}
.h2{height:69.500000pt;}
.h4{height:75.291667pt;}
.h3{height:104.250000pt;}
.h1{height:1024.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:728.666667pt;}
.w0{width:793.333333pt;}
.x0{left:20.666667pt;}
.x1{left:56.692000pt;}
.x2{left:106.745333pt;}
.x3{left:295.260000pt;}
.x4{left:307.996000pt;}
.x6{left:321.258667pt;}
.x5{left:720.590667pt;}
}
