.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.635254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.635254;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1f{margin-left:-907.822000px;}
._f{width:1.134000px;}
._28{width:2.247000px;}
._12{width:3.316320px;}
._e{width:4.441500px;}
._11{width:5.991300px;}
._38{width:9.460000px;}
._10{width:13.537020px;}
._24{width:22.354000px;}
._22{width:29.326000px;}
._2b{width:37.474000px;}
._39{width:53.770000px;}
._33{width:62.002000px;}
._4{width:66.848000px;}
._25{width:71.326000px;}
._2e{width:73.636000px;}
._1a{width:99.474000px;}
._a{width:106.454000px;}
._1d{width:111.018000px;}
._14{width:113.882000px;}
._7{width:118.130000px;}
._3{width:120.044000px;}
._17{width:129.170000px;}
._3c{width:148.146000px;}
._23{width:155.242000px;}
._1b{width:156.688000px;}
._1c{width:158.006000px;}
._1{width:167.102000px;}
._3e{width:169.800000px;}
._16{width:177.924000px;}
._3d{width:183.964000px;}
._3b{width:186.140000px;}
._40{width:216.138000px;}
._1e{width:230.260000px;}
._44{width:237.138000px;}
._37{width:242.328000px;}
._4b{width:251.756000px;}
._6{width:255.452000px;}
._48{width:275.004000px;}
._2d{width:278.532000px;}
._18{width:290.072000px;}
._27{width:291.258000px;}
._2a{width:297.096000px;}
._13{width:304.016000px;}
._41{width:306.300000px;}
._5{width:312.382000px;}
._32{width:315.828000px;}
._15{width:316.868000px;}
._c{width:327.692000px;}
._0{width:330.002000px;}
._35{width:362.490000px;}
._29{width:364.380000px;}
._31{width:378.088000px;}
._9{width:394.220000px;}
._30{width:399.786000px;}
._2{width:410.242000px;}
._3a{width:435.978000px;}
._34{width:463.278000px;}
._19{width:482.558000px;}
._4a{width:491.934000px;}
._8{width:551.530000px;}
._36{width:565.077000px;}
._47{width:589.596000px;}
._49{width:616.800000px;}
._45{width:635.456000px;}
._2c{width:641.864000px;}
._2f{width:668.702000px;}
._4d{width:672.848000px;}
._42{width:675.062000px;}
._3f{width:682.076000px;}
._4c{width:721.862000px;}
._26{width:725.864000px;}
._b{width:810.460000px;}
._21{width:836.718000px;}
._20{width:863.514000px;}
._43{width:897.872000px;}
._4e{width:1045.500000px;}
._46{width:1285.820000px;}
._d{width:1558.258000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:42.000000px;}
.y9c{bottom:8.810000px;}
.y61{bottom:9.070000px;}
.y60{bottom:20.810000px;}
.y9b{bottom:22.050000px;}
.y5f{bottom:32.550000px;}
.y9a{bottom:35.280000px;}
.y1{bottom:36.040000px;}
.y5e{bottom:44.280000px;}
.y99{bottom:48.520000px;}
.y5d{bottom:56.020000px;}
.y98{bottom:61.720000px;}
.y5c{bottom:67.760000px;}
.y62{bottom:70.500000px;}
.y5b{bottom:80.960000px;}
.y97{bottom:88.650000px;}
.y96{bottom:101.880000px;}
.y5a{bottom:102.560000px;}
.y28{bottom:113.000000px;}
.y59{bottom:114.710000px;}
.y95{bottom:115.120000px;}
.y58{bottom:126.860000px;}
.y94{bottom:128.320000px;}
.y57{bottom:139.010000px;}
.y93{bottom:142.010000px;}
.y56{bottom:153.150000px;}
.y92{bottom:155.250000px;}
.y91{bottom:155.700000px;}
.y55{bottom:164.880000px;}
.y90{bottom:167.430000px;}
.y54{bottom:176.620000px;}
.y53{bottom:188.360000px;}
.y8f{bottom:193.420000px;}
.y52{bottom:200.100000px;}
.y8e{bottom:210.410000px;}
.y51{bottom:211.830000px;}
.y8d{bottom:222.150000px;}
.y50{bottom:225.030000px;}
.y8c{bottom:233.880000px;}
.y27{bottom:236.590000px;}
.y4f{bottom:237.220000px;}
.y8b{bottom:245.620000px;}
.y26{bottom:248.320000px;}
.y4e{bottom:248.960000px;}
.y8a{bottom:258.820000px;}
.y24{bottom:260.020000px;}
.y25{bottom:260.280000px;}
.y4d{bottom:262.160000px;}
.y89{bottom:271.010000px;}
.y4c{bottom:274.350000px;}
.y88{bottom:282.750000px;}
.y23{bottom:283.460000px;}
.y4b{bottom:286.090000px;}
.y87{bottom:294.480000px;}
.y22{bottom:295.200000px;}
.y4a{bottom:297.820000px;}
.y86{bottom:306.220000px;}
.y21{bottom:306.930000px;}
.y49{bottom:309.560000px;}
.y0{bottom:311.000000px;}
.y85{bottom:317.960000px;}
.y20{bottom:318.670000px;}
.y48{bottom:321.300000px;}
.y84{bottom:331.160000px;}
.y47{bottom:333.030000px;}
.y46{bottom:333.260000px;}
.y1f{bottom:341.620000px;}
.y83{bottom:343.350000px;}
.y1e{bottom:353.810000px;}
.y82{bottom:355.090000px;}
.y45{bottom:356.470000px;}
.y1d{bottom:365.550000px;}
.y81{bottom:368.280000px;}
.y44{bottom:370.120000px;}
.y1c{bottom:377.280000px;}
.y80{bottom:380.470000px;}
.y43{bottom:382.270000px;}
.y1b{bottom:389.020000px;}
.y7f{bottom:392.210000px;}
.y42{bottom:394.420000px;}
.y1a{bottom:400.760000px;}
.y7e{bottom:403.950000px;}
.y41{bottom:406.570000px;}
.y19{bottom:413.960000px;}
.y40{bottom:421.460000px;}
.y3f{bottom:421.910000px;}
.y18{bottom:426.150000px;}
.y7d{bottom:426.940000px;}
.y3e{bottom:433.650000px;}
.y7c{bottom:438.670000px;}
.y17{bottom:449.130000px;}
.y7b{bottom:450.410000px;}
.y3d{bottom:459.630000px;}
.y16{bottom:460.870000px;}
.y7a{bottom:462.150000px;}
.y3c{bottom:472.120000px;}
.y15{bottom:472.610000px;}
.y79{bottom:473.880000px;}
.y3b{bottom:484.310000px;}
.y14{bottom:484.350000px;}
.y3a{bottom:484.980000px;}
.y78{bottom:487.090000px;}
.y13{bottom:496.090000px;}
.y39{bottom:496.720000px;}
.y77{bottom:499.270000px;}
.y12{bottom:507.820000px;}
.y67{bottom:511.010000px;}
.y11{bottom:519.560000px;}
.y38{bottom:521.320000px;}
.y66{bottom:522.750000px;}
.y37{bottom:533.060000px;}
.y65{bottom:534.490000px;}
.y10{bottom:542.550000px;}
.y36{bottom:544.800000px;}
.y64{bottom:546.220000px;}
.yf{bottom:554.290000px;}
.ya7{bottom:557.700000px;}
.y63{bottom:557.960000px;}
.y9d{bottom:565.000000px;}
.ye{bottom:567.490000px;}
.y35{bottom:567.790000px;}
.ya6{bottom:569.430000px;}
.y75{bottom:569.700000px;}
.y76{bottom:575.590000px;}
.y34{bottom:579.520000px;}
.yd{bottom:579.670000px;}
.ya5{bottom:581.170000px;}
.y74{bottom:581.430000px;}
.y33{bottom:591.260000px;}
.yc{bottom:591.410000px;}
.y72{bottom:593.170000px;}
.y73{bottom:599.060000px;}
.y32{bottom:603.000000px;}
.yb{bottom:603.150000px;}
.y71{bottom:604.910000px;}
.ya4{bottom:607.650000px;}
.y31{bottom:614.740000px;}
.ya{bottom:614.880000px;}
.y70{bottom:616.650000px;}
.ya3{bottom:619.380000px;}
.y30{bottom:626.470000px;}
.y9{bottom:626.620000px;}
.y6f{bottom:628.380000px;}
.y2f{bottom:638.210000px;}
.y8{bottom:638.360000px;}
.y7{bottom:638.590000px;}
.y6e{bottom:640.120000px;}
.ya2{bottom:645.860000px;}
.y2e{bottom:649.950000px;}
.y6d{bottom:651.860000px;}
.y6{bottom:652.050000px;}
.ya1{bottom:657.600000px;}
.y2d{bottom:661.680000px;}
.y6c{bottom:663.600000px;}
.y5{bottom:665.700000px;}
.ya0{bottom:670.840000px;}
.y2c{bottom:673.420000px;}
.y6b{bottom:675.340000px;}
.y4{bottom:677.850000px;}
.y9f{bottom:684.070000px;}
.y2b{bottom:685.160000px;}
.y6a{bottom:687.070000px;}
.y3{bottom:690.000000px;}
.y2a{bottom:696.900000px;}
.y9e{bottom:697.310000px;}
.y69{bottom:698.810000px;}
.y2{bottom:702.150000px;}
.y29{bottom:710.100000px;}
.y68{bottom:710.550000px;}
.h6{height:15.500000px;}
.h3{height:53.402344px;}
.h1{height:439.000000px;}
.h5{height:450.500000px;}
.h4{height:631.000000px;}
.h2{height:719.960000px;}
.h0{height:792.000000px;}
.w3{width:15.500000px;}
.w1{width:528.000000px;}
.w2{width:540.000000px;}
.w0{width:612.000000px;}
.x6{left:6.000000px;}
.x10{left:12.040000px;}
.xd{left:16.910000px;}
.x1{left:36.000000px;}
.x0{left:42.000000px;}
.x7{left:62.360000px;}
.x15{left:63.490000px;}
.x14{left:70.990000px;}
.x9{left:164.360000px;}
.x13{left:229.460000px;}
.xc{left:232.990000px;}
.x4{left:267.980000px;}
.x3{left:295.390000px;}
.x2{left:298.730000px;}
.xa{left:309.790000px;}
.xf{left:315.380000px;}
.xe{left:319.460000px;}
.x8{left:325.350000px;}
.x5{left:327.040000px;}
.xb{left:357.190000px;}
.x12{left:426.980000px;}
.x11{left:446.480000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1f{margin-left:-1210.429333pt;}
._f{width:1.512000pt;}
._28{width:2.996000pt;}
._12{width:4.421760pt;}
._e{width:5.922000pt;}
._11{width:7.988400pt;}
._38{width:12.613333pt;}
._10{width:18.049360pt;}
._24{width:29.805333pt;}
._22{width:39.101333pt;}
._2b{width:49.965333pt;}
._39{width:71.693333pt;}
._33{width:82.669333pt;}
._4{width:89.130667pt;}
._25{width:95.101333pt;}
._2e{width:98.181333pt;}
._1a{width:132.632000pt;}
._a{width:141.938667pt;}
._1d{width:148.024000pt;}
._14{width:151.842667pt;}
._7{width:157.506667pt;}
._3{width:160.058667pt;}
._17{width:172.226667pt;}
._3c{width:197.528000pt;}
._23{width:206.989333pt;}
._1b{width:208.917333pt;}
._1c{width:210.674667pt;}
._1{width:222.802667pt;}
._3e{width:226.400000pt;}
._16{width:237.232000pt;}
._3d{width:245.285333pt;}
._3b{width:248.186667pt;}
._40{width:288.184000pt;}
._1e{width:307.013333pt;}
._44{width:316.184000pt;}
._37{width:323.104000pt;}
._4b{width:335.674667pt;}
._6{width:340.602667pt;}
._48{width:366.672000pt;}
._2d{width:371.376000pt;}
._18{width:386.762667pt;}
._27{width:388.344000pt;}
._2a{width:396.128000pt;}
._13{width:405.354667pt;}
._41{width:408.400000pt;}
._5{width:416.509333pt;}
._32{width:421.104000pt;}
._15{width:422.490667pt;}
._c{width:436.922667pt;}
._0{width:440.002667pt;}
._35{width:483.320000pt;}
._29{width:485.840000pt;}
._31{width:504.117333pt;}
._9{width:525.626667pt;}
._30{width:533.048000pt;}
._2{width:546.989333pt;}
._3a{width:581.304000pt;}
._34{width:617.704000pt;}
._19{width:643.410667pt;}
._4a{width:655.912000pt;}
._8{width:735.373333pt;}
._36{width:753.436000pt;}
._47{width:786.128000pt;}
._49{width:822.400000pt;}
._45{width:847.274667pt;}
._2c{width:855.818667pt;}
._2f{width:891.602667pt;}
._4d{width:897.130667pt;}
._42{width:900.082667pt;}
._3f{width:909.434667pt;}
._4c{width:962.482667pt;}
._26{width:967.818667pt;}
._b{width:1080.613333pt;}
._21{width:1115.624000pt;}
._20{width:1151.352000pt;}
._43{width:1197.162667pt;}
._4e{width:1394.000000pt;}
._46{width:1714.426667pt;}
._d{width:2077.677333pt;}
.fs0{font-size:56.000000pt;}
.y9c{bottom:11.746667pt;}
.y61{bottom:12.093333pt;}
.y60{bottom:27.746667pt;}
.y9b{bottom:29.400000pt;}
.y5f{bottom:43.400000pt;}
.y9a{bottom:47.040000pt;}
.y1{bottom:48.053333pt;}
.y5e{bottom:59.040000pt;}
.y99{bottom:64.693333pt;}
.y5d{bottom:74.693333pt;}
.y98{bottom:82.293333pt;}
.y5c{bottom:90.346667pt;}
.y62{bottom:94.000000pt;}
.y5b{bottom:107.946667pt;}
.y97{bottom:118.200000pt;}
.y96{bottom:135.840000pt;}
.y5a{bottom:136.746667pt;}
.y28{bottom:150.666667pt;}
.y59{bottom:152.946667pt;}
.y95{bottom:153.493333pt;}
.y58{bottom:169.146667pt;}
.y94{bottom:171.093333pt;}
.y57{bottom:185.346667pt;}
.y93{bottom:189.346667pt;}
.y56{bottom:204.200000pt;}
.y92{bottom:207.000000pt;}
.y91{bottom:207.600000pt;}
.y55{bottom:219.840000pt;}
.y90{bottom:223.240000pt;}
.y54{bottom:235.493333pt;}
.y53{bottom:251.146667pt;}
.y8f{bottom:257.893333pt;}
.y52{bottom:266.800000pt;}
.y8e{bottom:280.546667pt;}
.y51{bottom:282.440000pt;}
.y8d{bottom:296.200000pt;}
.y50{bottom:300.040000pt;}
.y8c{bottom:311.840000pt;}
.y27{bottom:315.453333pt;}
.y4f{bottom:316.293333pt;}
.y8b{bottom:327.493333pt;}
.y26{bottom:331.093333pt;}
.y4e{bottom:331.946667pt;}
.y8a{bottom:345.093333pt;}
.y24{bottom:346.693333pt;}
.y25{bottom:347.040000pt;}
.y4d{bottom:349.546667pt;}
.y89{bottom:361.346667pt;}
.y4c{bottom:365.800000pt;}
.y88{bottom:377.000000pt;}
.y23{bottom:377.946667pt;}
.y4b{bottom:381.453333pt;}
.y87{bottom:392.640000pt;}
.y22{bottom:393.600000pt;}
.y4a{bottom:397.093333pt;}
.y86{bottom:408.293333pt;}
.y21{bottom:409.240000pt;}
.y49{bottom:412.746667pt;}
.y0{bottom:414.666667pt;}
.y85{bottom:423.946667pt;}
.y20{bottom:424.893333pt;}
.y48{bottom:428.400000pt;}
.y84{bottom:441.546667pt;}
.y47{bottom:444.040000pt;}
.y46{bottom:444.346667pt;}
.y1f{bottom:455.493333pt;}
.y83{bottom:457.800000pt;}
.y1e{bottom:471.746667pt;}
.y82{bottom:473.453333pt;}
.y45{bottom:475.293333pt;}
.y1d{bottom:487.400000pt;}
.y81{bottom:491.040000pt;}
.y44{bottom:493.493333pt;}
.y1c{bottom:503.040000pt;}
.y80{bottom:507.293333pt;}
.y43{bottom:509.693333pt;}
.y1b{bottom:518.693333pt;}
.y7f{bottom:522.946667pt;}
.y42{bottom:525.893333pt;}
.y1a{bottom:534.346667pt;}
.y7e{bottom:538.600000pt;}
.y41{bottom:542.093333pt;}
.y19{bottom:551.946667pt;}
.y40{bottom:561.946667pt;}
.y3f{bottom:562.546667pt;}
.y18{bottom:568.200000pt;}
.y7d{bottom:569.253333pt;}
.y3e{bottom:578.200000pt;}
.y7c{bottom:584.893333pt;}
.y17{bottom:598.840000pt;}
.y7b{bottom:600.546667pt;}
.y3d{bottom:612.840000pt;}
.y16{bottom:614.493333pt;}
.y7a{bottom:616.200000pt;}
.y3c{bottom:629.493333pt;}
.y15{bottom:630.146667pt;}
.y79{bottom:631.840000pt;}
.y3b{bottom:645.746667pt;}
.y14{bottom:645.800000pt;}
.y3a{bottom:646.640000pt;}
.y78{bottom:649.453333pt;}
.y13{bottom:661.453333pt;}
.y39{bottom:662.293333pt;}
.y77{bottom:665.693333pt;}
.y12{bottom:677.093333pt;}
.y67{bottom:681.346667pt;}
.y11{bottom:692.746667pt;}
.y38{bottom:695.093333pt;}
.y66{bottom:697.000000pt;}
.y37{bottom:710.746667pt;}
.y65{bottom:712.653333pt;}
.y10{bottom:723.400000pt;}
.y36{bottom:726.400000pt;}
.y64{bottom:728.293333pt;}
.yf{bottom:739.053333pt;}
.ya7{bottom:743.600000pt;}
.y63{bottom:743.946667pt;}
.y9d{bottom:753.333333pt;}
.ye{bottom:756.653333pt;}
.y35{bottom:757.053333pt;}
.ya6{bottom:759.240000pt;}
.y75{bottom:759.600000pt;}
.y76{bottom:767.453333pt;}
.y34{bottom:772.693333pt;}
.yd{bottom:772.893333pt;}
.ya5{bottom:774.893333pt;}
.y74{bottom:775.240000pt;}
.y33{bottom:788.346667pt;}
.yc{bottom:788.546667pt;}
.y72{bottom:790.893333pt;}
.y73{bottom:798.746667pt;}
.y32{bottom:804.000000pt;}
.yb{bottom:804.200000pt;}
.y71{bottom:806.546667pt;}
.ya4{bottom:810.200000pt;}
.y31{bottom:819.653333pt;}
.ya{bottom:819.840000pt;}
.y70{bottom:822.200000pt;}
.ya3{bottom:825.840000pt;}
.y30{bottom:835.293333pt;}
.y9{bottom:835.493333pt;}
.y6f{bottom:837.840000pt;}
.y2f{bottom:850.946667pt;}
.y8{bottom:851.146667pt;}
.y7{bottom:851.453333pt;}
.y6e{bottom:853.493333pt;}
.ya2{bottom:861.146667pt;}
.y2e{bottom:866.600000pt;}
.y6d{bottom:869.146667pt;}
.y6{bottom:869.400000pt;}
.ya1{bottom:876.800000pt;}
.y2d{bottom:882.240000pt;}
.y6c{bottom:884.800000pt;}
.y5{bottom:887.600000pt;}
.ya0{bottom:894.453333pt;}
.y2c{bottom:897.893333pt;}
.y6b{bottom:900.453333pt;}
.y4{bottom:903.800000pt;}
.y9f{bottom:912.093333pt;}
.y2b{bottom:913.546667pt;}
.y6a{bottom:916.093333pt;}
.y3{bottom:920.000000pt;}
.y2a{bottom:929.200000pt;}
.y9e{bottom:929.746667pt;}
.y69{bottom:931.746667pt;}
.y2{bottom:936.200000pt;}
.y29{bottom:946.800000pt;}
.y68{bottom:947.400000pt;}
.h6{height:20.666667pt;}
.h3{height:71.203125pt;}
.h1{height:585.333333pt;}
.h5{height:600.666667pt;}
.h4{height:841.333333pt;}
.h2{height:959.946667pt;}
.h0{height:1056.000000pt;}
.w3{width:20.666667pt;}
.w1{width:704.000000pt;}
.w2{width:720.000000pt;}
.w0{width:816.000000pt;}
.x6{left:8.000000pt;}
.x10{left:16.053333pt;}
.xd{left:22.546667pt;}
.x1{left:48.000000pt;}
.x0{left:56.000000pt;}
.x7{left:83.146667pt;}
.x15{left:84.653333pt;}
.x14{left:94.653333pt;}
.x9{left:219.146667pt;}
.x13{left:305.946667pt;}
.xc{left:310.653333pt;}
.x4{left:357.306667pt;}
.x3{left:393.853333pt;}
.x2{left:398.306667pt;}
.xa{left:413.053333pt;}
.xf{left:420.506667pt;}
.xe{left:425.946667pt;}
.x8{left:433.800000pt;}
.x5{left:436.053333pt;}
.xb{left:476.253333pt;}
.x12{left:569.306667pt;}
.x11{left:595.306667pt;}
}
