.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.354004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.375000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.375000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.392578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:6.240000px;}
._46{width:22.176000px;}
._38{width:23.664000px;}
._23{width:35.040000px;}
._e{width:61.296000px;}
._39{width:75.456000px;}
._24{width:78.816000px;}
._17{width:85.008000px;}
._27{width:98.928000px;}
._41{width:116.736000px;}
._d{width:121.872000px;}
._2{width:125.424000px;}
._c{width:181.248000px;}
._20{width:190.320000px;}
._4{width:191.520000px;}
._26{width:199.056000px;}
._11{width:207.600000px;}
._6{width:211.152000px;}
._b{width:216.240000px;}
._15{width:218.784000px;}
._3{width:222.528000px;}
._40{width:224.208000px;}
._3f{width:225.696000px;}
._45{width:246.816000px;}
._25{width:249.120000px;}
._1e{width:251.616000px;}
._1b{width:269.088000px;}
._36{width:271.632000px;}
._43{width:274.080000px;}
._f{width:280.032000px;}
._a{width:303.792000px;}
._42{width:305.136000px;}
._19{width:316.944000px;}
._22{width:321.264000px;}
._1a{width:334.752000px;}
._44{width:336.672000px;}
._1d{width:341.232000px;}
._21{width:343.536000px;}
._13{width:345.744000px;}
._37{width:351.840000px;}
._10{width:371.904000px;}
._31{width:378.432000px;}
._5{width:381.744000px;}
._14{width:400.032000px;}
._1f{width:415.392000px;}
._2b{width:422.352000px;}
._12{width:430.944000px;}
._16{width:441.888000px;}
._3a{width:453.504000px;}
._1c{width:465.696000px;}
._18{width:468.096000px;}
._7{width:492.672000px;}
._9{width:510.816000px;}
._3c{width:514.704000px;}
._3b{width:547.296000px;}
._3d{width:556.272000px;}
._29{width:618.048000px;}
._3e{width:774.768000px;}
._1{width:775.872000px;}
._2f{width:819.168000px;}
._35{width:830.160000px;}
._34{width:884.880000px;}
._2c{width:924.288000px;}
._8{width:925.488000px;}
._33{width:1000.944000px;}
._32{width:1018.560000px;}
._30{width:1029.504000px;}
._28{width:1092.960000px;}
._2a{width:1182.432000px;}
._2d{width:1261.248000px;}
._2e{width:1318.128000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.000000px;}
.fs2{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.y0{bottom:47.500000px;}
.y1{bottom:50.256000px;}
.y34{bottom:65.088000px;}
.ya8{bottom:69.480000px;}
.y29{bottom:73.944000px;}
.y84{bottom:77.832200px;}
.y33{bottom:78.840000px;}
.ya7{bottom:83.232000px;}
.y28{bottom:88.704000px;}
.y83{bottom:91.584200px;}
.y32{bottom:92.592000px;}
.ya6{bottom:99.288000px;}
.y82{bottom:106.344200px;}
.y31{bottom:107.352000px;}
.ya5{bottom:113.040000px;}
.y27{bottom:117.216000px;}
.y81{bottom:122.112200px;}
.ya4{bottom:126.792000px;}
.y26{bottom:131.976000px;}
.y30{bottom:136.872000px;}
.y80{bottom:137.880200px;}
.ya3{bottom:142.848000px;}
.y25{bottom:146.736000px;}
.y2f{bottom:150.624000px;}
.y7f{bottom:153.648200px;}
.ya2{bottom:156.600000px;}
.y24{bottom:161.496000px;}
.y2e{bottom:164.376000px;}
.ya1{bottom:172.656000px;}
.y7e{bottom:173.376200px;}
.y23{bottom:176.256000px;}
.y2d{bottom:178.128000px;}
.ya0{bottom:186.408000px;}
.y22{bottom:191.016000px;}
.y2c{bottom:191.880000px;}
.y9f{bottom:202.464000px;}
.y2b{bottom:205.632000px;}
.y21{bottom:205.776000px;}
.y7d{bottom:206.352200px;}
.y9e{bottom:218.520000px;}
.y2a{bottom:219.384000px;}
.y20{bottom:220.536000px;}
.y7c{bottom:222.120200px;}
.ya9{bottom:233.568000px;}
.y1f{bottom:235.296000px;}
.y7b{bottom:236.880200px;}
.y58{bottom:242.136200px;}
.y1e{bottom:249.048000px;}
.y7a{bottom:251.640200px;}
.y57{bottom:256.896200px;}
.y1d{bottom:263.808000px;}
.y79{bottom:266.400200px;}
.y56{bottom:271.656200px;}
.y1c{bottom:277.560000px;}
.y78{bottom:281.160200px;}
.y55{bottom:286.416200px;}
.y77{bottom:295.920200px;}
.y1b{bottom:296.280000px;}
.y54{bottom:301.176200px;}
.y76{bottom:309.672200px;}
.y1a{bottom:314.568000px;}
.y53{bottom:315.864200px;}
.y19{bottom:329.328000px;}
.y52{bottom:333.144200px;}
.y18{bottom:344.088000px;}
.y75{bottom:344.160200px;}
.y51{bottom:346.896200px;}
.y9d{bottom:349.056100px;}
.y50{bottom:360.648200px;}
.y17{bottom:362.808000px;}
.y74{bottom:364.896200px;}
.y4f{bottom:375.408200px;}
.y73{bottom:380.664200px;}
.y9c{bottom:380.808100px;}
.y16{bottom:381.096000px;}
.y4e{bottom:390.168200px;}
.y15{bottom:395.856000px;}
.y72{bottom:396.432200px;}
.y4d{bottom:404.928200px;}
.y9b{bottom:407.592100px;}
.y14{bottom:410.616000px;}
.y71{bottom:411.192200px;}
.y4c{bottom:419.688200px;}
.y13{bottom:425.376000px;}
.y70{bottom:425.952200px;}
.y9a{bottom:437.112100px;}
.y4b{bottom:438.408200px;}
.y12{bottom:440.136000px;}
.y6f{bottom:443.664200px;}
.y99{bottom:451.872100px;}
.y11{bottom:458.856000px;}
.y6e{bottom:467.928200px;}
.y4a{bottom:470.448200px;}
.y98{bottom:473.616100px;}
.y10{bottom:477.144000px;}
.y6d{bottom:481.680200px;}
.y49{bottom:487.800200px;}
.yf{bottom:491.904000px;}
.y6c{bottom:496.440200px;}
.y97{bottom:501.336100px;}
.ye{bottom:506.664000px;}
.y6b{bottom:510.192200px;}
.y96{bottom:515.088100px;}
.y48{bottom:518.472200px;}
.yd{bottom:521.424000px;}
.y6a{bottom:523.944200px;}
.y95{bottom:528.840100px;}
.y47{bottom:533.232200px;}
.yc{bottom:536.184000px;}
.y69{bottom:538.704200px;}
.y46{bottom:546.984200px;}
.y94{bottom:548.568100px;}
.y68{bottom:552.456200px;}
.yb{bottom:554.904000px;}
.y45{bottom:560.736200px;}
.y93{bottom:562.320100px;}
.ya{bottom:569.160000px;}
.y44{bottom:574.488200px;}
.y92{bottom:576.072100px;}
.y43{bottom:588.240200px;}
.y9{bottom:588.888000px;}
.y67{bottom:596.736200px;}
.y91{bottom:597.816100px;}
.y42{bottom:603.000200px;}
.y66{bottom:611.496100px;}
.y90{bottom:611.568100px;}
.y8{bottom:614.664000px;}
.y41{bottom:617.760200px;}
.y65{bottom:626.256100px;}
.y7{bottom:628.416000px;}
.y8f{bottom:631.368100px;}
.y40{bottom:632.520200px;}
.y64{bottom:641.016100px;}
.y6{bottom:642.168000px;}
.y8e{bottom:645.120100px;}
.y3f{bottom:647.280200px;}
.y63{bottom:655.776100px;}
.y8d{bottom:658.872100px;}
.y3e{bottom:662.040100px;}
.y5{bottom:669.672000px;}
.y62{bottom:670.536100px;}
.y3d{bottom:676.800100px;}
.y8c{bottom:681.624100px;}
.y4{bottom:683.424000px;}
.y61{bottom:685.296100px;}
.y3c{bottom:691.560100px;}
.y8b{bottom:696.384000px;}
.y60{bottom:700.056100px;}
.y3b{bottom:706.320100px;}
.y3{bottom:710.928000px;}
.y8a{bottom:711.144000px;}
.y5f{bottom:713.808100px;}
.y3a{bottom:721.080100px;}
.y5e{bottom:728.568100px;}
.y89{bottom:732.888000px;}
.y39{bottom:735.840100px;}
.y5d{bottom:743.328100px;}
.y2{bottom:747.720000px;}
.y38{bottom:750.600000px;}
.y88{bottom:752.688000px;}
.y5c{bottom:758.088100px;}
.y37{bottom:765.360000px;}
.y87{bottom:766.440000px;}
.y5b{bottom:772.848100px;}
.y36{bottom:780.120000px;}
.y86{bottom:780.192000px;}
.y5a{bottom:787.608000px;}
.y35{bottom:798.840000px;}
.y59{bottom:802.368000px;}
.y85{bottom:802.872000px;}
.h2{height:33.625000px;}
.h5{height:42.871094px;}
.h4{height:50.437500px;}
.h3{height:51.445312px;}
.h7{height:52.125000px;}
.ha{height:197.500000px;}
.h8{height:419.000000px;}
.h6{height:762.500000px;}
.h1{height:766.000000px;}
.h9{height:766.500000px;}
.h0{height:841.896000px;}
.w1{width:536.000000px;}
.w2{width:536.500000px;}
.w0{width:592.416000px;}
.x0{left:28.000000px;}
.x16{left:31.176000px;}
.x1a{left:55.944000px;}
.x1b{left:64.728000px;}
.x13{left:113.400000px;}
.x1{left:116.712000px;}
.x10{left:136.080000px;}
.x17{left:138.312000px;}
.x1f{left:145.728000px;}
.x24{left:165.672000px;}
.x25{left:172.368000px;}
.x6{left:174.384000px;}
.x20{left:178.560000px;}
.x26{left:186.552000px;}
.x1e{left:190.368000px;}
.x9{left:201.312000px;}
.x1d{left:210.024000px;}
.x22{left:215.496000px;}
.x21{left:225.864000px;}
.x23{left:229.752000px;}
.xe{left:231.984000px;}
.x1c{left:234.000000px;}
.x14{left:239.688000px;}
.x15{left:246.312000px;}
.x4{left:255.240000px;}
.x27{left:259.848000px;}
.xa{left:267.336000px;}
.x3{left:272.520000px;}
.xf{left:274.608000px;}
.x5{left:277.992000px;}
.x7{left:296.280000px;}
.x18{left:352.584000px;}
.x11{left:354.312000px;}
.xb{left:361.224000px;}
.x2{left:383.256000px;}
.x12{left:428.040000px;}
.x8{left:442.296000px;}
.x19{left:459.720000px;}
.xc{left:492.552000px;}
.xd{left:544.968000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:8.320000pt;}
._46{width:29.568000pt;}
._38{width:31.552000pt;}
._23{width:46.720000pt;}
._e{width:81.728000pt;}
._39{width:100.608000pt;}
._24{width:105.088000pt;}
._17{width:113.344000pt;}
._27{width:131.904000pt;}
._41{width:155.648000pt;}
._d{width:162.496000pt;}
._2{width:167.232000pt;}
._c{width:241.664000pt;}
._20{width:253.760000pt;}
._4{width:255.360000pt;}
._26{width:265.408000pt;}
._11{width:276.800000pt;}
._6{width:281.536000pt;}
._b{width:288.320000pt;}
._15{width:291.712000pt;}
._3{width:296.704000pt;}
._40{width:298.944000pt;}
._3f{width:300.928000pt;}
._45{width:329.088000pt;}
._25{width:332.160000pt;}
._1e{width:335.488000pt;}
._1b{width:358.784000pt;}
._36{width:362.176000pt;}
._43{width:365.440000pt;}
._f{width:373.376000pt;}
._a{width:405.056000pt;}
._42{width:406.848000pt;}
._19{width:422.592000pt;}
._22{width:428.352000pt;}
._1a{width:446.336000pt;}
._44{width:448.896000pt;}
._1d{width:454.976000pt;}
._21{width:458.048000pt;}
._13{width:460.992000pt;}
._37{width:469.120000pt;}
._10{width:495.872000pt;}
._31{width:504.576000pt;}
._5{width:508.992000pt;}
._14{width:533.376000pt;}
._1f{width:553.856000pt;}
._2b{width:563.136000pt;}
._12{width:574.592000pt;}
._16{width:589.184000pt;}
._3a{width:604.672000pt;}
._1c{width:620.928000pt;}
._18{width:624.128000pt;}
._7{width:656.896000pt;}
._9{width:681.088000pt;}
._3c{width:686.272000pt;}
._3b{width:729.728000pt;}
._3d{width:741.696000pt;}
._29{width:824.064000pt;}
._3e{width:1033.024000pt;}
._1{width:1034.496000pt;}
._2f{width:1092.224000pt;}
._35{width:1106.880000pt;}
._34{width:1179.840000pt;}
._2c{width:1232.384000pt;}
._8{width:1233.984000pt;}
._33{width:1334.592000pt;}
._32{width:1358.080000pt;}
._30{width:1372.672000pt;}
._28{width:1457.280000pt;}
._2a{width:1576.576000pt;}
._2d{width:1681.664000pt;}
._2e{width:1757.504000pt;}
.fs0{font-size:42.666667pt;}
.fs2{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:63.333333pt;}
.y1{bottom:67.008000pt;}
.y34{bottom:86.784000pt;}
.ya8{bottom:92.640000pt;}
.y29{bottom:98.592000pt;}
.y84{bottom:103.776267pt;}
.y33{bottom:105.120000pt;}
.ya7{bottom:110.976000pt;}
.y28{bottom:118.272000pt;}
.y83{bottom:122.112267pt;}
.y32{bottom:123.456000pt;}
.ya6{bottom:132.384000pt;}
.y82{bottom:141.792267pt;}
.y31{bottom:143.136000pt;}
.ya5{bottom:150.720000pt;}
.y27{bottom:156.288000pt;}
.y81{bottom:162.816267pt;}
.ya4{bottom:169.056000pt;}
.y26{bottom:175.968000pt;}
.y30{bottom:182.496000pt;}
.y80{bottom:183.840267pt;}
.ya3{bottom:190.464000pt;}
.y25{bottom:195.648000pt;}
.y2f{bottom:200.832000pt;}
.y7f{bottom:204.864267pt;}
.ya2{bottom:208.800000pt;}
.y24{bottom:215.328000pt;}
.y2e{bottom:219.168000pt;}
.ya1{bottom:230.208000pt;}
.y7e{bottom:231.168267pt;}
.y23{bottom:235.008000pt;}
.y2d{bottom:237.504000pt;}
.ya0{bottom:248.544000pt;}
.y22{bottom:254.688000pt;}
.y2c{bottom:255.840000pt;}
.y9f{bottom:269.952000pt;}
.y2b{bottom:274.176000pt;}
.y21{bottom:274.368000pt;}
.y7d{bottom:275.136267pt;}
.y9e{bottom:291.360000pt;}
.y2a{bottom:292.512000pt;}
.y20{bottom:294.048000pt;}
.y7c{bottom:296.160267pt;}
.ya9{bottom:311.424000pt;}
.y1f{bottom:313.728000pt;}
.y7b{bottom:315.840267pt;}
.y58{bottom:322.848267pt;}
.y1e{bottom:332.064000pt;}
.y7a{bottom:335.520267pt;}
.y57{bottom:342.528267pt;}
.y1d{bottom:351.744000pt;}
.y79{bottom:355.200267pt;}
.y56{bottom:362.208267pt;}
.y1c{bottom:370.080000pt;}
.y78{bottom:374.880267pt;}
.y55{bottom:381.888267pt;}
.y77{bottom:394.560267pt;}
.y1b{bottom:395.040000pt;}
.y54{bottom:401.568267pt;}
.y76{bottom:412.896267pt;}
.y1a{bottom:419.424000pt;}
.y53{bottom:421.152267pt;}
.y19{bottom:439.104000pt;}
.y52{bottom:444.192267pt;}
.y18{bottom:458.784000pt;}
.y75{bottom:458.880267pt;}
.y51{bottom:462.528267pt;}
.y9d{bottom:465.408133pt;}
.y50{bottom:480.864267pt;}
.y17{bottom:483.744000pt;}
.y74{bottom:486.528267pt;}
.y4f{bottom:500.544267pt;}
.y73{bottom:507.552267pt;}
.y9c{bottom:507.744133pt;}
.y16{bottom:508.128000pt;}
.y4e{bottom:520.224267pt;}
.y15{bottom:527.808000pt;}
.y72{bottom:528.576267pt;}
.y4d{bottom:539.904267pt;}
.y9b{bottom:543.456133pt;}
.y14{bottom:547.488000pt;}
.y71{bottom:548.256267pt;}
.y4c{bottom:559.584267pt;}
.y13{bottom:567.168000pt;}
.y70{bottom:567.936267pt;}
.y9a{bottom:582.816133pt;}
.y4b{bottom:584.544267pt;}
.y12{bottom:586.848000pt;}
.y6f{bottom:591.552267pt;}
.y99{bottom:602.496133pt;}
.y11{bottom:611.808000pt;}
.y6e{bottom:623.904267pt;}
.y4a{bottom:627.264267pt;}
.y98{bottom:631.488133pt;}
.y10{bottom:636.192000pt;}
.y6d{bottom:642.240267pt;}
.y49{bottom:650.400267pt;}
.yf{bottom:655.872000pt;}
.y6c{bottom:661.920267pt;}
.y97{bottom:668.448133pt;}
.ye{bottom:675.552000pt;}
.y6b{bottom:680.256267pt;}
.y96{bottom:686.784133pt;}
.y48{bottom:691.296267pt;}
.yd{bottom:695.232000pt;}
.y6a{bottom:698.592267pt;}
.y95{bottom:705.120133pt;}
.y47{bottom:710.976267pt;}
.yc{bottom:714.912000pt;}
.y69{bottom:718.272267pt;}
.y46{bottom:729.312267pt;}
.y94{bottom:731.424133pt;}
.y68{bottom:736.608267pt;}
.yb{bottom:739.872000pt;}
.y45{bottom:747.648267pt;}
.y93{bottom:749.760133pt;}
.ya{bottom:758.880000pt;}
.y44{bottom:765.984267pt;}
.y92{bottom:768.096133pt;}
.y43{bottom:784.320267pt;}
.y9{bottom:785.184000pt;}
.y67{bottom:795.648267pt;}
.y91{bottom:797.088133pt;}
.y42{bottom:804.000267pt;}
.y66{bottom:815.328133pt;}
.y90{bottom:815.424133pt;}
.y8{bottom:819.552000pt;}
.y41{bottom:823.680267pt;}
.y65{bottom:835.008133pt;}
.y7{bottom:837.888000pt;}
.y8f{bottom:841.824133pt;}
.y40{bottom:843.360267pt;}
.y64{bottom:854.688133pt;}
.y6{bottom:856.224000pt;}
.y8e{bottom:860.160133pt;}
.y3f{bottom:863.040267pt;}
.y63{bottom:874.368133pt;}
.y8d{bottom:878.496133pt;}
.y3e{bottom:882.720133pt;}
.y5{bottom:892.896000pt;}
.y62{bottom:894.048133pt;}
.y3d{bottom:902.400133pt;}
.y8c{bottom:908.832133pt;}
.y4{bottom:911.232000pt;}
.y61{bottom:913.728133pt;}
.y3c{bottom:922.080133pt;}
.y8b{bottom:928.512000pt;}
.y60{bottom:933.408133pt;}
.y3b{bottom:941.760133pt;}
.y3{bottom:947.904000pt;}
.y8a{bottom:948.192000pt;}
.y5f{bottom:951.744133pt;}
.y3a{bottom:961.440133pt;}
.y5e{bottom:971.424133pt;}
.y89{bottom:977.184000pt;}
.y39{bottom:981.120133pt;}
.y5d{bottom:991.104133pt;}
.y2{bottom:996.960000pt;}
.y38{bottom:1000.800000pt;}
.y88{bottom:1003.584000pt;}
.y5c{bottom:1010.784133pt;}
.y37{bottom:1020.480000pt;}
.y87{bottom:1021.920000pt;}
.y5b{bottom:1030.464133pt;}
.y36{bottom:1040.160000pt;}
.y86{bottom:1040.256000pt;}
.y5a{bottom:1050.144000pt;}
.y35{bottom:1065.120000pt;}
.y59{bottom:1069.824000pt;}
.y85{bottom:1070.496000pt;}
.h2{height:44.833333pt;}
.h5{height:57.161458pt;}
.h4{height:67.250000pt;}
.h3{height:68.593750pt;}
.h7{height:69.500000pt;}
.ha{height:263.333333pt;}
.h8{height:558.666667pt;}
.h6{height:1016.666667pt;}
.h1{height:1021.333333pt;}
.h9{height:1022.000000pt;}
.h0{height:1122.528000pt;}
.w1{width:714.666667pt;}
.w2{width:715.333333pt;}
.w0{width:789.888000pt;}
.x0{left:37.333333pt;}
.x16{left:41.568000pt;}
.x1a{left:74.592000pt;}
.x1b{left:86.304000pt;}
.x13{left:151.200000pt;}
.x1{left:155.616000pt;}
.x10{left:181.440000pt;}
.x17{left:184.416000pt;}
.x1f{left:194.304000pt;}
.x24{left:220.896000pt;}
.x25{left:229.824000pt;}
.x6{left:232.512000pt;}
.x20{left:238.080000pt;}
.x26{left:248.736000pt;}
.x1e{left:253.824000pt;}
.x9{left:268.416000pt;}
.x1d{left:280.032000pt;}
.x22{left:287.328000pt;}
.x21{left:301.152000pt;}
.x23{left:306.336000pt;}
.xe{left:309.312000pt;}
.x1c{left:312.000000pt;}
.x14{left:319.584000pt;}
.x15{left:328.416000pt;}
.x4{left:340.320000pt;}
.x27{left:346.464000pt;}
.xa{left:356.448000pt;}
.x3{left:363.360000pt;}
.xf{left:366.144000pt;}
.x5{left:370.656000pt;}
.x7{left:395.040000pt;}
.x18{left:470.112000pt;}
.x11{left:472.416000pt;}
.xb{left:481.632000pt;}
.x2{left:511.008000pt;}
.x12{left:570.720000pt;}
.x8{left:589.728000pt;}
.x19{left:612.960000pt;}
.xc{left:656.736000pt;}
.xd{left:726.624000pt;}
}
